

.auth-steps input[type="password"] {
	padding:0.5em;
	border-radius:3px;
	border:1px solid rgb(189, 189, 189);
	outline:none;
}
.auth-steps input[type="password"]:focus {
	padding:0.5em;
	border-radius:3px;
	border:1px solid rgb(189, 189, 189);
	outline:1px solid #3E5381;
}

.hideElement {
  display:none;
}

.showElement {
  display:block;
}

.auth-main-container {
  padding:3em 0;
}

.auth-steps button {
  box-shadow: 0 4px 2px -2px rgba(0,0,0,0.5);
	padding:1em 2em;
	border-radius:3px;
  background-color:#ff7403;	
  border:none;
	color:white;
	margin-left:1em;
	transition:all 0.1s linear;
	outline:none;
  cursor:pointer;
  
}

.auth-steps p > span {
  font-size:0.8em;
  color:red;
  
}

.auth-button-flex {
  display:flex;
  align-items:center;
  justify-content:space-between;
}

.container-auth h1 {
  margin: 0;
    padding: 0;
    font-size: 2.2em;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 2px;
    font-weight: 400;
}

.container-auth button:hover {  
  background-color:#b85300;
}

.container-auth {
  background-color:#fff;
  color:#101010;
  width:80%;
  margin:0 auto;
  position:relative;
  padding-top:1em;
  box-shadow:0 0 10px rgba(0,0,0,0.8);
  
}
.container-auth textarea {
  width:100%;
  height:80px;
  border-radius:3px;
	border:1px solid rgb(189, 189, 189);
  outline:none;
  resize: none;
}

.auth-steps {  
  padding-bottom:2em;
  width:60%;
  position:relative;
  margin:0 auto;
}
.auth-steps-message {
  letter-spacing: 0.1em;
    text-align: center;
    font-weight: bold;
}

.auth-steps-explanation {
  font-size:0.9em;
  color:#5e5e5e;
}

.firstAuth {
  background:linear-gradient(to top left, #860000, rgb(219, 23, 23));
}

.firstAuth button:hover {
  color: rgb(219, 23, 23);
}

.secondAuth {
  background:linear-gradient(to top left, #c03d00, rgb(243, 130, 24));
}

.secondAuth button:hover {
  color: rgb(243, 130, 24);
}

.thirdAuth {
  background:linear-gradient(to top left, #c08d00, rgb(209, 206, 6));
}

.thirdAuth button:hover {
  color: rgb(209, 206, 6);
}

.fourthAuth {
  background:linear-gradient(to top left, #056b05, rgb(25, 138, 31));
}

.fourthAuth button:hover {
  color: rgb(25, 138, 31);
}

.secretData {
  background:linear-gradient(to top left, #0756a0, rgb(41, 154, 189));
}